div {
    display: grid;
    /* position: relative; */
    text-align: center;
    justify-items: center;
    align-items: center;
}
/* p {
    /* position: absolute;
    top: 50%;
    left: 50%; 
}*/
#a{grid-area: a;}
#b{grid-area: b;}
#c{grid-area: c;}
#d{grid-area: d;}
#e{grid-area: e;}
#f{grid-area: f;}
#g{grid-area: g;}
#h{grid-area: h;}
#i{grid-area: i;}


#b , #c , #d , #e , #f , #g, #h ,#i {
    /* display: block; */
    border-top: 0px;
    /* float: left; */
}

/* mobile screen  */
@media screen and (min-width:480px) and (max-width:768px){
    section { 
        width: 80%;
        margin: 7% auto;
        display: grid;
     grid-template-areas: 
     "a a"
     "b b"
     "c c"
     "d d"
     "e f"
     "g h"
     "i i";
       }
           
      #a {
          width: 100%;
          height: 75px;
          display: block;
      }
      #b {
          width: 100%;
          height: 150px;
      }
      #c ,#d {
        width:100%;
        height: 125px;
    }
      #e , #f , #g ,#h {
          width: 100%;
          height: 250px;
      }
      #f , #h{
          border-left: 0;
      }
      #i {
          width: 100%;
          height: 80px; 
      }
}
/* tablet screen */
@media screen and (min-width:768px) and (max-width:959px){
    section { 
        width: 80%;
        margin: 7% auto;
        display: grid;
     grid-template-areas: 
     "a a a a "
     "b c d d"
     "b i i i"
     "e f g h";
       }
           
      #a {
          width: 100%px;
          height: 192px;
          display: block;
      }
      #b {
          width:100%;
          height: 384px;
      }
      #d {
          width: 100%;
        height:192px;
    }

      #c ,#e , #f , #g ,#h {
          width:100%;
          height: 192px;
      }
      #c, #d, #f ,#g, #h, #i{
          border-left: 0;
      }
      #i {
          width: 100%;
          height: 192px; 
      }
}

/* desktop screen */
@media screen and (min-width:960px) {
    section { 
     width:80%;
     margin: 7% auto;
     display: grid;
     grid-template-areas: 
     "a a a a a"
     "b c c d d"
     "b e f g h"
     "b i i i i";
    }
        
   #a {
       width: 100%;
       height: 100px;
       display: block;
   }
   #b {
       width: 100%;
       height: 600px;
   }
   #c ,#d {
    width:100%;
    height: 200px;
    border-left: 0px;
}
   #e , #f , #g ,#h {
      
       width: 100%;
       height: 250px;
       border-left: 0px;
   }
   #i {
       width:100%;
       height: 150px;
       border-left: 0px; 
   }
}
